# Ignorar la caché, logs y sesiones de Symfony
/var/cache/
/var/log/
/var/sessions/

# Ignorar las dependencias instaladas por Composer
/vendor/

/.env
/.env.local
/.env.*.local
/.env.test
/.env.test.local

# Archivos de Docker
docker-compose.override.yml
/.docker
/.dockerignore

# Bundles
public/bundles/*

# Archivos generados por el sistema o IDEs
.DS_Store
.idea/
.vscode/
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
