<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    failOnWarning="true"
    failOnRisky="true"
    executionOrder="random"
    cacheResult="true"
    cacheDirectory=".phpunit/cache"
    stopOnFailure="false"
    stopOnWarning="false"
    stopOnRisky="false"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
        <server name="APP_ENV" value="test"/>
    </php>

</phpunit>